<footer class="footer text-center bg-lightblue" id="footer">
<div class="container">
  <div class="row text-center">
    {{ knp_menu_render('AppBundle:Builder:footerMenu', {'currentClass': 'active', 'template': 'navigation/knp_menu_bs.html.twig'}) }}
  </div>
  <div class="row">
  	<p>&copy {{ "now"|date("Y") }} <a href="http://www.jdierinck.be" target="_blank">Johan Dierinck</a></p>
    <p class="small">Created with <a href="http://www.symfony.com" target="_blank"><img src="{{ asset('images/symfony_white_02.png') }}" alt="Symfony logo" height="15"></a></p>
  </div>
</div>
</footer>

<!-- Modal -->
<div id="footerModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" id="footerModalContent">
      <!-- Content goes here -->
    </div>
  </div>
</div>
<!-- end Modal -->