<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Voeg recept toe</h4>
</div>
<div class="modal-body">
<div class="form_error"></div>
{% include 'recipes/form.html.twig' with {'form': form} %}
</div>
<!-- <div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div> -->

<script src="{{ asset('js/mycustomformjs.js') }}"></script>
<script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
<script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>