<div id="support02-03" class="collapse">
	<p>Mealplanner is een <em>pet project</em> van Johan Dierinck, zelfstandig web developer. Het verenigt twee van mijn grote passies: programmeren en koken. Ik wil iedereen helpen tijd te besparen met plannen en inkopen doen, zodat er meer tijd overblijft om lekker en gezond te koken. Tegelijkertijd wil ik met Mealplanner mijn programmeerskills aanscherpen en in de kijker zetten. </p>
</div>