<div id="support02-02" class="collapse">
	<p>Wanneer na 30 dagen de gratis proefperiode afgelopen is, heb je tijdelijk geen toegang meer tot je Kookboek, je Menu's en je Boodschappenlijst. Je account blijft echter te allen tijde actief. Je kan dus nog steeds inloggen, en je recepten blijven beschikbaar als een CSV-bestand dat je kan downloaden.</p>
	<p>Om van Mealplanner gebruik te kunnen blijven maken na de proefperiode, volstaat het een korte review over de applicatie in te dienen, waarna je weer toegang hebt tot alle functies.</p>
</div>