<div id="support01-03" class="collapse">
<p>Sommige browsers verbergen standaard de bladwijzer- of favorietenbalk, waardoor je de <span class="logo">MealPlanner</span> Bladwijzer niet kan installeren. Als je de balk niet ziet, kan je hem op deze manier inschakelen:</p>
<ul class="list-unstyled">
	<li>In <strong>Safari</strong>: klik op Weergave > Toon favorietenbalk</li>
	<li>In <strong>Firefox</strong>: klik op Beeld > Werkbalken > Bladwijzerwerkbalk</li>
	<li>In <strong>Chrome</strong>: klik op Weergave > Bladwijzerbalk altijd weergeven</li>
	<li>In <strong>Internet Explorer</strong>: ga naar Tools > Toolbars en schakel de Favorites bar in</li>
</ul>
<p>Zodra de bladwijzerbalk zichtbaar is, kan je — ongeacht welke browser je gebruikt — de MealPlanner Bladwijzer naar de bladwijzerbalk slepen. Nu kan je makkelijk recepten importeren terwijl je op het web surft.</p>
</div>