<div id="support02-01" class="collapse">
	<p>Helemaal niets!</p>
	<p>Het enige wat Mealplanner je 'kost', is een (hopelijk positieve) review van de applicatie. Nadat je Mealplanner gedurende 30 dagen uitgeprobeerd hebt, zal je gevraagd worden je mening over de applicatie te geven. Zolang je dat niet gedaan hebt, heb je geen toegang meer tot je Kookboek of Boodschappenlijst. Zodra je een korte review hebt ingediend, kan je weer ongelimiteerd gebruik maken van het programma.</p>
</div>