<div id="support03-01" class="collapse">
Je kan makkelijk je planning synchroniseren met bijvoorbeeld je Google Agenda of Apple Agenda door middel van het iCal-formaat. Je hoeft dit maar één keer te doen, daarna blijft je planning gesynchroniseerd met je kalender.
Zo doe je het:
<ul>
<li>Ga naar <em>Planning</em> en klik bovenaan rechts op <em>Sync met kalender</em><br>
Kopieer je persoonlijke Mealplanner URL.
<img src="/images/screenshots/Agenda_sync.png" style="width:500px;">
</li>
<br>
<li>Abonneer je op deze agenda in je kalender-applicatie.<br>In <strong>Apple Agenda</strong>: klik op <em>Archief</em> en kies <em>Nieuw agenda-abonnement...</em><br><img src="/images/screenshots/AppleAgenda01.png" style="width:500px;"><br><br>Plak de Mealplanner URL in het invulveld en klik op <em>Abonneer</em>.<br><img src="/images/screenshots/AppleAgenda02.png" style="width:500px;"><br><br>In <strong>Google Agenda</strong>: Klik op het + teken naast <em>Andere agenda's</em> en kies <em>Via URL</em>.<br><img src="/images/screenshots/GoogleAgenda01.png" style="width:500px;"><br><br>Voer de Mealplanner URL in en klik op <em>Agenda toevoegen</em>.<br><img src="/images/screenshots/GoogleAgenda02.png" style="width:500px;"></li>
</ul>
Deel deze URL met je familie of anderen zodat ook zij er zich op kunnen abonneren.
</div>