<div id="support01" class="collapse">
	<ol>
		<li>
			<h4>Installeer de bladwijzer (aanbevolen) <small>Bewaar recepten terwijl je surft</small></h4><p>Installeer éénmalig de bladwijzer in je bladwijzer- of favorietenbalk. Daarna kan je rechtstreeks vanuit een ondersteunde website een recept importeren zonder dat je die site hoeft te verlaten.</p><p>Om de bladwijzer te installeren, sleep de knop hieronder naar je bladwijzer- of favorietenbalk:</p>
			<p class="text-center"><a href="javascript:(function(){var%20url='http://mealplanner.be/app_dev.php/import?url='+encodeURIComponent(window.location.href);window.open(url,'mealplanner','location=yes,scrollbars=yes,toolbar=no,resizable=yes,width=550,height=550');})();" data-toggle="popover" data-trigger="hover" title="Hallo! Ik ben een bookmarklet" data-html="true" data-content="<ol><li>Sleep mij naar de bladwijzerbalk.<br>In Internet Explorer: klik met de rechtermuisknop en kies 'Voeg toe aan favorieten'.</li><li>Daarna, telkens je een recept vindt op het internet, klik dan op de bladwijzer om het recept toe te voegen aan je Mealplanner Kookboek.</li></ol>"><button class="btn btn-info btn-xs text-uppercase"><strong>Mealplanner</strong></button></a></p>
		</li>
		<li>
			<h4>Importeer van het web <small>Importeer de URL van een recept</small></h4><p>Klik bovenaan op <em>Voeg recept toe</em> en vervolgens op <em>Importeer van het web</em>. In het invulveld plak je de URL van een pagina van een ondersteunde website die een recept bevat dat je wil importeren in je Kookboek.</p>
		</li>
		<li>
		<h4>Manueel <small>Voeg je klassiekers toe</small></h4><p>Klik bovenaan op <em>Voeg recept toe</em> en vervolgens op <em>Voeg manueel toe</em></p>
		</li>
	</ol>
</div>