<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h3 class="modal-title">Over MealPlanner</h3>
</div>
<div class="modal-body">
	<p>Mealplanner werd ontwikkeld op basis van open source software. De back-end is gebouwd op Symfony, het leidende PHP framework voor websites en -applicaties, aangevuld met volgende third party bundles:</p>
	<ul>
		<li><a href="https://github.com/KnpLabs/KnpMenuBundle">KnpMenuBundle</a></li>
		<li><a href="https://github.com/dustin10/VichUploaderBundle">VichUploaderBundle</a></li>
		<li><a href="https://github.com/stof/StofDoctrineExtensionsBundle">StofDoctrineExtensionsBundle</a></li>
		<li><a href="https://github.com/tetranz/select2entity-bundle">TetranzSelect2EntityBundle</a></li>
		<li><a href="https://github.com/KnpLabs/KnpSnappyBundle">KnpSnappyBundle</a></li>
		<li><a href="https://github.com/KnpLabs/KnpPaginatorBundle">KnpPaginatorBundle</a></li>
		<li><a href="https://github.com/blackknight467/StarRatingBundle">StarRatingBundle</a></li>
		<li><a href="https://github.com/liip/LiipImagineBundle">LiipImagineBundle</a></li>
		<li><a href="https://github.com/doctrine/DoctrineFixturesBundle">DoctrineFixturesBundle</a></li>
		<li><a href="https://github.com/FriendsOfSymfony/FOSJsRoutingBundle">FOSJsRoutingBundle</a></li>		
	</ul>
	Voor de front-end werd gebruik gemaakt van <a href="http://getbootstrap.com">Bootstrap</a>, het standaard framework voor responsive, <em>mobile first</em> websites, en verder volgende Javascript/jQuery plugins en libraries:
	<ul>
		<li><a href="https://select2.github.io" target="_blank">Select2</a></li>
		<li><a href="http://malsup.com/jquery/form">jQuery Form Plugin</a></li>
		<li><a href="http://ckeditor.com">CKEditor</a></li>
		<li><a href="https://github.com/ninsuo/symfony-collection">Symfony Collection jQuery Plugin</a></li>
		<li><a href="https://fullcalendar.io">FullCalendar</a></li>
		<li><a href="https://bootstrap-datepicker.readthedocs.io/en/latest">Bootstrap Datepicker Plugin</a></li>
	</ul>
	<p>Mealplanner is een project van Johan Dierinck, zelfstandig PHP developer en Symfony liefhebber. Surf naar <a href="http://www.jdierinck.be" target="_blank">www.jdierinck.be</a> voor meer info.</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Sluit</button>
</div>