
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4 class="modal-title">Stuur e-mail</h4>
	<p>Een vraag? Een opmerking? Een suggestie ter verbetering? Laat het ons weten.</p>
</div>
<div class="modal-body">
	<div class="form_error"></div>
	{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
</div>
<!-- 
<div class="modal-footer">
<!~~ <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> ~~>
</div>
 -->