{% extends 'base.html.twig' %}

{% block body %}

{{ render(controller('AppBundle:Navigation:menu')) }}

<div class="container" style="margin-top:70px;">
	<div class="row">
		<div class="col-md-8 col-md-offset-2" id="accordion">
			<h3>Recepten toevoegen en verzamelen</h3>
			<div class="panel">
				<a href="#support01-01" data-toggle="collapse" data-parent="#accordion">Hoe kan ik recepten toevoegen?</a>
				{% include('support/support01-01.html.twig') %}
			</div>
			<div class="panel">
				<a href="#support01-02" data-toggle="collapse" data-parent="#accordion">Van welke sites kan ik recepten importeren?</a>
				{% include('support/support01-02.html.twig') %}
			</div>
			<div class="panel">
				<a href="#support01-03" data-toggle="collapse" data-parent="#accordion">Ik zie geen bladwijzerbalk, hoe kan ik de Bladwijzer dan installeren?</a>
				{% include('support/support01-03.html.twig') %}
			</div>	
			<h3>Planner</h3>
			<div class="panel">
				<a href="#support03-01" data-toggle="collapse" data-parent="#accordion">Hoe kan ik mijn planning delen?</a>
				{% include('support/support03-01.html.twig') %}
			</div>	
			<h3>Mijn account</h3>
			<div class="panel">
				<a href="#support02-01" data-toggle="collapse" data-parent="#accordion">Wat kost <span class="logo">MealPlanner</span>?</a>
				{% include('support/support02-01.html.twig') %}
			</div>
			<div class="panel">
				<a href="#support02-03" data-toggle="collapse" data-parent="#accordion">Waarom is <span class="logo">MealPlanner</span> zo goedkoop?</a>
				{% include('support/support02-03.html.twig') %}
			</div>									
		</div>
	</div>
</div>

{{ render(controller('AppBundle:Navigation:footer')) }}

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
	//Initialize popovers
	$('[data-toggle="popover"]').popover();
});
</script>
{% endblock %}