<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h3 class="modal-title">Wat is nieuw?</h3>
</div>
<div class="modal-body">
18/10/2020
<h4>Nieuwe planning functionaliteit</h4>
<ul>
	<li>In plaats van recepten toe te voegen aan je boodschappenlijst, ga je ze nu toevoegen aan je planning. Dat kan heel makkelijk door ze te verslepen vanuit een lijst in de linkerkolom naar je agenda. Er zijn aparte tijdsslots voorzien voor het ontbijt, de lunch en het diner.</li>
	<li>De planning is voortaan ook de plaats waar je je menu's beheert. Creëer nieuwe menu's op basis van recepten die deze week (een eventueel volgende weken) op je planning staan, of voeg bestaande menu's toe aan je planning. Bestaande menu's kan je vooraf bekijken alvorens ze toe te voegen. Standaard worden menu's toegevoegd vanaf de huidige dag, maar je kan ook een datum kiezen in de toekomst.</li>
	<li>Je kan je planning toevoegen aan je favoriete kalender applicatie (bv Apple Agenda of Google Calendar) door middel van je persoonlijke iCal-feed. Je kan deze URL ook delen met anderen zodat zij altijd weten wat er op het menu staat!</li>
</ul>
<h4>Verbeterde boodschappenlijst</h4>
<ul>
	<li>Je boodschappenlijst wordt automatisch gegenereerd op basis van wat er vanaf vandaag op je planning staat.</li>
	<li>Ingrediënten die niet in de juiste afdeling staan, kan je nu makkelijk verplaatsen door ze te verslepen in plaats van een afdeling te kiezen uit een selectielijst.</li>
	<li>Het aanpassen van het aantal personen per recept of het verwijderen van items op je boodschappenlijst gebeurt nu in real time en met één muisklik.</li>
	<li>Door middel van de <em>Herstel boodschappenlijst</em> knop kan je je boodschappenlijst opnieuw instellen, d.w.z. zonder extra toegevoegde items en mét de items die je verwijderd hebt.</li>
</ul>
10/08/2020
<h4>Bugfix</h4>
<ul>
<p>Probleem opgelost waarbij ingrediënten of secties niet meer versleept konden worden.</p>
</ul>
<br>
15/07/2020
<h4>Geen proefperiode meer</h4>
<ul>
<p>Yep, geniet nu voor altijd en (nog steeds) gratis van <span class="logo">MealPlanner</span>!</p>
</ul>
<br>
09/07/2020
<h4>Verbeteringen aan het Kookboek</h4>
<ul>
<li>Verbeterde gridweergave van recepten d.m.v. 'cards'</li>
<li>Titels van recepten worden volledig weergegeven i.p.v. verkort</li>
<li>Meer recepten per pagina</li>
<li>Betere beeldkwaliteit van thumbnails</li>
<li>Gridweergave past zich beter aan aan de schermgrootte</li>
<li>Afbeeldingen hebben steeds dezelfde grootte zowel in de grid- als in de detailweergave van een recept</li>
<li>Een badge geeft het aantal menu's met dit recept aan, een popover toont de titels van de menu's</li>
<li>De gebruiker blijft op dezelfde pagina van het Kookboek na het bewerken of verwijderen van een recept, of het toevoegen van een recept aan de Boodschappenlijst</li>
<li>De zichtbaarheid van de rating van een recept werd verbeterd</li>
<li>Verbeterde zoekmogelijkheden: meerdere keuzes binnen eenzelfde filter, het zoekveld ondersteunt ook ingrediënten, nieuwe filter voor het zoeken op tags</li>
</ul>
<h4>Verbeteringen wat betreft de opbrengst ('yield') van een recept</h4>
<ul>
<li>Bij het aanmaken of bewerken van een recept kan je preciezer aangeven wat een recept oplevert: naast de standaard eenheid 'personen' kan je nu ook andere eenheden kiezen (bv. stuks, kopjes).</li>
<li>De opgegeven hoeveelheid van een recept wordt nu als standaard gehanteerd bij het weergeven van een recept uit het Kookboek of het toevoegen ervan aan de boodschappenlijst (voorheen was de standaard hoeveelheid steeds 4). Dus kook je enkel voor 2 personen, geef dan al je recepten in voor 2 en dit wordt dan ook de standaard hoeveelheid.</li>
<li>Nieuwe switcher voor het aantal personen (of stuks...) in de detailweergave van een recept: de hoeveelheid kan nu makkelijker aangepast worden door middel van + en - knoppen (in plaats van een input veld).</li>
</ul>
<h4>Andere verbeteringen</h4>
<ul>
<li>Nieuwe lettertypes voor een cleanere look</li>
<li>De leesbaarheid van ingrediënten in de detailweergave van een recept werd verbeterd door een groter lettertype en het gebruik van fracties (bv. ½, ¾).</li>
</ul>

<br>
22/06/2020
<h4>Verbeterde importfunctie</h4>
<ul>
<p>Mealplanner ondersteunde totnogtoe een vast aantal Nederlandstalige en Engelstalige sites van waaruit recepten geïmporteerd konden worden. Voor ieder van die sites bestond er een aangepaste importfunctie, en bij iedere wijziging in de de HTML broncode van zo'n site moest de importfunctie aangepast worden. Dat is nu echter verleden tijd, want voortaan wordt gebruik gemaakt van een generieke importfunctie die inspeelt op het inmiddels gangbare gebruik van zogenaamde 'gestructureerde data' in het JSON-LD formaat. Dat wil zeggen dat voortaan een in principe oneindig aantal receptensites ondersteund wordt. Op die manier komt zowat elk recept dat je op internet kan vinden binnen handbereik! Enkel sites die nog geen gebruik maken van moderne standaarden (bv. die het verouderde <em>data-vocabulary.org</em> in plaats van het algemeen aanvaarde <em>schema.org</em> schema gebruiken) komen niet langer in aanmerking.</p>
</ul>

<h4>Betere ondersteuning voor het importeren van Engelstalige recepten</h4>
<ul>
<li>Engelstalige eenheden zoals 'teaspoons', 'ounces' of 'cups' worden nu ook herkend bij de import.</li>
<li>Hoeveelheden die breuken bevatten (bv. '1/2 cup' of '1 3/4 cups' of zelfs '¼ cup') worden nu correct herkend en automatisch omgezet naar decimale waarden bij de import.</li>
</ul>

<h4>Andere verbeteringen</h4>
<ul>
<li>De leesbaarheid van ingrediënten van recepten die op de pagina van de boodschappenlijst worden aangeklikt werd verbeterd.</li>
<li>Betere import van recipe yield, category, cuisine en ratings.</li>
<li>Foto's van geïmporteerde recepten worden niet langer op de server opgeslagen.</li>
<li>De lijst van ondersteunde sites werd geüpdatet.</li>
</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Sluit</button>
</div>