<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h3 class="modal-title">Geef je mening</h3>
	<p>Om te upgraden naar Premium volstaat het ons te laten weten wat je van deze applicatie vindt. We hopen dat dat positief is, maar als je vindt dat een en ander beter kan, dan horen we dat graag.</p>
</div>
<div class="modal-body">
	<div class="form_error"></div>
	{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
</div>
<!-- 
<div class="modal-footer">
<!~~ <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> ~~>
</div>
 -->