.vich-image img {
	max-width: 20%;
}

.showrecipe-image {
	height: 250px;
/* 	background-image: url('../images/recepten/Pensive Parakeet.jpg'); */
/* 	background-size: 250px; */
/* 	background-repeat: no-repeat; */

}

.item.list-group-item
{
    /*reset the grid float and width and add a background for fun */
    float: none;
    width: 100%;
    background-color:#f5f5f5;
}
/* give the image a left float in the list view */
.item.list-group-item img {
	float:left;
	margin-right: 20px;
}
/* and clearfix the left float of the image */
.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: " ";
}
.item.list-group-item:after
{
    clear:both;
}
.item:not(.list-group-item) img{
	margin-bottom: 10px;
}

.hideOverflow
{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}