.list-unit {
    font-weight: 500;
    padding-right: 10px;
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
}


.vich-image img {
    width: 20%;
}

.item{
	height: 190px;
}

.item img{
	/*margin-bottom: 10px;*/
	/*max-height: 100px;*/
}

.hideOverflow
{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

/*FontAwesome icons */
/*th a {
    position: relative;
}*/
a.asc:after {
    content: "\f0dd"; /*fa-sort-desc*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
/*    color: #000;
    font-size: 18px;*/
    padding-left: 0.5em;
    /*position: absolute;*/
/*    top: 10px;
    left: 0;*/
}
a.desc:after {
    content: "\f0de"; /*fa-sort-asc*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
/*    color: #000;
    font-size: 18px;*/
    padding-left: 0.5em;
    /*position: absolute;*/
/*    top: 10px;
    left: 0;*/
}

#listview .rating div.star-full, 
#listview .rating div.star-empty {
    font-size: 5px;
}

#listview .rating div.star-empty:before, 
#listview .rating div.star-full:before {
    padding-right:0;
}

#gridview .rating div.star-empty, 
#gridview .rating div.star-full {
    font-size: 10px;
}

#gridview .rating div.star-empty::before,
#gridview .rating div.star-full::before {
    padding-right:0;
}

#gridview .rating {
    position: absolute;
    top:77px;
    left:20px;
}

.modal-header .rating {
    float:left;
}


